.login {
    padding-top: 40px;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.login > form {
    padding: 30px 30px;
    margin: auto;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}